<h1>Products</h1>
<ul id="product-list">
  {{#each products}}
    <li>{{this.title}} - ${{this.price}}</li>
  {{/each}}
</ul>


<h2>Add Product</h2>
<form id="productForm">
  <input type="text" id="title" placeholder="Título del producto" required />
  <input type="text" id="price" placeholder="Precio" required />
  <button type="submit">Add</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const productList = document.getElementById('product-list');
  const productForm = document.getElementById('productForm');


  socket.on('updateProducts', (products) => {
    productList.innerHTML = '';
    products.forEach(product => {
      productList.innerHTML += `<li>${product.title} - $${product.price}</li>`;
    });
  });


  productForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const title = document.getElementById('title').value;
    const price = document.getElementById('price').value;
    socket.emit('addProduct', { title, price });
  });
</script>
